#container{
    margin: 0px;
    background: green;
    width: 700px;
  }
  .m-40{
    margin: 40px;
  }
  *{
      background: yellow;
    }
  h1,h3{
      color: blueviolet;
      font-size: 100px;
      background-color: aqua;
  }