.title{
    color: red;
  }
  #mytittle{
    color: orange;
  }
  /*Tira os parenteses pra ver a força que ele tem*/
  (#)mytittle,d strong{
    color: yellow;
  }
  h1{
    font-size:50px;
    color: blue;
  }
  *{
    color:blueviolet;
  }

  /* shorthand*/

*{
    /*background  propriet*/
    background-color: aliceblue;
    background-image: url(https://cdn.dicionariopopular.com/imagens/bebado4.gif);
    background-repeat: no-repeat;
    background-position: left top;

    /*background  shorthand*/
    backgound: aliceblue url(https://cdn.dicionariopopular.com/imagens/bebado4.gif) no-repeat left top;
    
}